body {
	height: 100%;
	width: 100%;
	font-family: Arial;
	background: black;
	color: white;
}

div {
	display: inline-block;
	background: gray;
	padding: 10px;
	border-radius: 10px;
	width: auto;
	margin: 10px;
}

button {
	background: black;
	display: inline-block;
	width: 40%;
	padding: 10px;
	border-radius: 10px;
	color: white;
}

h3 {
	margin-top: 0px;
}
